@font-face {
    font-family: lato;
    src: url(/assets/fonts/Lato-Black.ttf)
}

@font-face {
    font-family: latobold;
    src: url(/assets/fonts/Lato-Bold.ttf)
}

h1,h2,h3 {
    font-family: caps;
}
p{
    font-family: normalbold;    
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}



html {
    scroll-behavior: smooth;
}

h1{font-size: 50px;
    margin-bottom: 15px;

}
body {
    max-width: 1084px;
    margin: 0 auto;    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

ul {
    width: 214px;
    display: flex;
    justify-content: space-between;
    
}
.sub3{
    display: none;
}
a {
    color: #181818;
    transition: 300ms color ease;
}

a:hover {
    color: #badc58;
    transition: 300ms color ease;
}

.sub1{
    display: none;
}
.sub2{
    display: none;
}
.hero-content {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-content::before {
    content: '';
    display: block;
    position: absolute;
    top: 60px;
    bottom: -17px;
    left: 0;
    right: 0;
    background-color: #181818;
    opacity: .6;
    z-index: -1;
    
}
.hero-content::after{
    content: url(/media/Basil1.png);
    position: absolute;
    z-index: 1;
    right: -905px;
    bottom: -390px;
    
}

.hero-text {
    margin-top: 100px;
    text-align: center;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.ita{
    height:42px;
    width: 301px; 
    margin-bottom: 35px;
}

.scroll{
    color: #FFF;
    margin-top: 85px;
}

.hero-image {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: calc(100vh - 60px);
    top: 60px;
    left: 0;
    object-fit: cover;
}

.dau {
    margin: 0 auto;
	width: 17px;
	height: 10px;
	margin-top: 10px;

}

h2{
    display: flex;
    justify-content: center;
    align-content: center;
}


.pizza{
    display: flex;
    flex-wrap: wrap;
    width: 1084px;
    justify-content: space-around;
    
}
.container{
    position: relative;
    width: 1086px;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(24, 24, 24, 0.06);
    background-color: #FFF;
    bottom:-7px;
}
.container::before {
    content: '';
	display: block;
	width: 100%;
	height: 60px;
	position: absolute;
    top: -60px;
    background-color: #FFF;
	border-top-left-radius:20px;
    border-top-right-radius: 20px;  
}



.container::after {
	content: '';
	display: block;
	width:  100%;
	height: 60px;
	background-color: #FFF;
    position: relative;
    top: 53px;
	z-index: 5;
	border-bottom-right-radius:20px;
	border-bottom-left-radius: 20px;
	
	
}



.list{
    height: 452px;
    width: 308px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    }

.list:hover {
    box-shadow: 0 5px 8px 0 rgba(24, 24, 24, 0.06);
       
}
.ptext { 
    text-align: center; 
     

}

button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #badc58;
    background-color: #fff;
    border: 1px solid #badc58;
    box-sizing: border-box;
    height: 46px;
    width: 164px;
    border-radius: 10px;
    transition: 300ms;
}
button:hover{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: #badc58;
    box-sizing: border-box;
    height: 46px;
    width: 164px;
    border-radius: 10px;
    transition: 300ms;  
}
footer{
    position: absolute;
    left: 0;
    background-color: #292C2F;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
footer::before{
    content: url(/media/Basil2.png);
    z-index: -1;
    position: absolute;
    top: -315px;
    left: -850px;    
}

.adress{
    color: #f59a63;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1086px;
    height: 60px;
    margin-top: 140px;
}
.tel{
    color: #f59a63;
       
}

iframe{
    border-radius: 15px;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1086px;
}
.soc{
    width: 100px;
    display: flex;
    justify-content: space-between;

}
.youtube:hover path {
    fill:#badc58;
}
.insta:hover path {
    fill: #badc58;
}
.fb:hover path {
    fill: #badc58;
}

@media (max-width: 320px) {

    .hide{
        display: none;
    }
    


    .logo{
        margin-left: 20px;
    }

    .sub1{
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;
        margin: 20px;
        margin-top: 20px;
    }
    .sub1 .sub2{
        display: none;
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
    }
    
    
    .sub1:hover .sub2{
        display: block;
        background-color: #fff;
    }

    .sub1 .sub3{
        display: none;
        position: absolute;
        z-index: 99;

        }    
    .sub1:hover + .sub3{
        display: flex;
            }
        
    header{
        position: sticky;
        top: 0;
        z-index: 101;
        background-color: #FFF;
        }


    .sub3{
        background-color: #181818;
        position: fixed;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        text-align: center;
        
    }
    .heromenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 280px;
        height: 139px;
        font-size: 14px;
        margin-top: 130px;
        padding-bottom: 150px;
        border-bottom: #292C2F solid 2px;
        z-index: 101;      
    }
    .bmenu{
        color: #FFF
    }
    .socmenu{
        width: 100px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin-top: 20px;
        
    }

    .hero-content {
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
    
    }
        

    .hero-image{
        position: absolute;
        z-index: -2;
        width: 100%;
        height: auto;
        height: 300px;
        top: 60px;
        left: 0;
        object-fit: cover;
        
    }
    .hero-content::before {
        content: '';
        display: block;
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #181818;
        opacity: .6;
        z-index: -1;
        margin-bottom: 210px;
    }
    
    .scroll, .dau{
        display: none;
    }
    h1{
        font-size: 21px;
        margin-bottom: 5px;
        margin-top:-95px;
    }
    .ita{
        font-size: 12px;
        margin-bottom: 25px;
    }
    button{
        height: 46px;
        width: 133px;
        font-size: 12px;
    }
    button:hover {    
        height: 46px;
        width: 133px;
        font-size: 12px;
    }
    .ptext{
        font-size: 10px;
        height: 32px;
        width: 114px;
    }
    h3{
        font-size: 16px;
        height: 39px;
        width: 136px;
        text-align: center;
    }
    .pizza {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        width: 250px;
        }

    .container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        width: 300px;
        height: 2580px;
        border-radius: 10px;
        box-shadow: 0 8px 10px 0 rgba(26, 26, 26, 0.06);
        margin-left: 10px; 
        }

    .container::before {
        content: '';
        display: block;
        width: 100%;
        height: 20px;
        position: absolute;
        top: -20px;
        background-color: #FFF;
        border-top-left-radius:20px;
        border-top-right-radius: 20px;  
        }
        
        
        
    .container::after {
        content: '';
        display: block;
        width:  100%;
        height: 30px;
        background-color: #FFF;
        position: relative;
        top: 25px;
        z-index: 5;
        border-bottom-right-radius:20px;
        border-bottom-left-radius: 20px;
            
            
        }

    h2{
        display: flex;
        justify-content: center;
        align-content: center;

    }
    .list{
        height: 414px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        border-radius: 25px;
        box-sizing: border-box;
        margin-left: 25px;
        }

    footer{
        position: absolute;
        left: 0;
        background-color: #292C2F;
        width: 100%;
        height: 644px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
          
    }
    .adress{
        color: #f59a63;
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 300px;
        height: 60px;
        margin-top: 50px;
    }
    .tel{
        color: #f59a63;
           
    }
    
    iframe{
        border-radius: 15px;
        width: 300px;
        height: 290px;
        margin-bottom: 10px;
    }
    
    .logos{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        width: 300px;
        height: 200px;
        margin-bottom: 5px;
    }
    
}